<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>404</title>
    <%- include('layouts/links') -%>
</head>
<body>
    <div class="container">
        <%- include('layouts/navigation') -%>
        <div class="app-container-error">
            <h1>400 Bad Request</h1>
        </div>
    </div>
    <%- include('layouts/footer') -%>
</body>
</html>
