<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <%- include('layouts/links') -%>
</head>
<body>
    <div class="container">
        <%- include('layouts/navigation') -%>
        <div class="app-container-index">
            <h1>Photobook App</h1>
            <p>Create albums and upload images</p>
        </div>
    </div>
    <%- include('layouts/footer') -%>
</body>
</html>