.app-container-error{
    display: flex;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10vh;
}

.app-container-error > h1 {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 20px;
}

.app-container-error > img {
    max-width: 70%;
}

