.app-container-index{
    margin: 0 auto;
    max-width: 100%;
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.app-container-index > h1 {
    font-size: 3em;
    margin-top: 30vh;
    margin-bottom: 7vh;
}